.content {
  flex: 1 1 auto;
  position: relative;

  display: flex;
}

.content-left,
.content-right,
.content-main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-left,
.content-right {
  width: 20%;
}

.content-main {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}